:host {
  display: block;
  width: 500px;

  .match-overview {
    margin-bottom: 12px;
  }

  p.info-line {
    span.label {
      display: inline-block;
      width: 25%;
    }
    span.value {
      display: inline-block;
      max-width: 75%;
    }
  }
}
