// App theme definition, app wide look and feel
@use '@angular/material' as mat;

main {
  padding-bottom: 24px;
}

app-matches-page,
app-players-page {
  display: block;
  margin: 48px 15% 24px 15%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: lightblue
    )
  );
}
